@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);


body {
    /* background: #105469; */
    color: #111;
    font-family: 'Open Sans', sans-serif;
}


#project-title {
    color: #111;
    text-align: center;
}

h2,h3 {
    text-align: center;
}

p {
    padding-left: 15px;
}

form, input {
    margin-top: 8px;
    font-size: 18px;
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#author-name, #author-studies {
    text-align: center;
}

.sections-container {
    width: 90%;
    border: 2px solid #364043;
    border-radius: 5px;
    padding: 15px;
}

.author-container {
    display: flex;
    flex-direction: column;

}

.data-container {
    display: flex;
    flex-direction: column;
    
}

.search-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-container {
    display: flex;
    justify-content: space-around;
}

table {
  align-self: center;
  display: block;
  width: 90%;
  background: #eeeeee;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 10px;
  overflow: scroll;
  white-space: nowrap;
}
th {
  border-bottom: 1px solid #364043;
  color: #111;
  font-size: 1.0em;
  font-weight: 800;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #111;
  font-weight: 400;
  padding: 0.65em 1em;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #FFF;
}

.data-formats-section {
    align-self: center;
}

header, .row {
    display: flex;
}

.col {
    text-align: center;
    margin-left: 20px;
    margin-top: 10px;;
    flex: 1;        
}

a:link, a:visited {
  background-color: #f44336c3;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}

